<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生</title>
    <link rel="stylesheet" type="text/css" href="/static/css/stu_load.css">
</head>
<body>
<header>
    <ul align="center">
        <img src="/static/img/head.png" id="head" height="50px" width="50px">
        <li><a href="{% url 'stuMng:stuMngload' %}">首页</a></li>
        <li><a href="{% url 'stuMng:class_load' %}">班级</a></li>
        <li><a href="{% url 'stuMng:stu_load' %}">学生</a></li>
        <li><a href="#">成绩</a></li>
        <li><a href="{% url 'stuMng:login' %}">退出</a></li>
    </ul>
</header>
<div class="context">
    <div id="choose">
        <ul>
            <li style="line-height:5"><a href="{% url 'stuMng:check_stu' %}">学生管理</a></li>
            <li><a href="{% url 'stuMng:add_stu' %}">学生班级</a></li>
        </ul>
    </div>
</div>
<footer>
    <ul>
        <li>制作人：linwenxin</li>
        <li>| 联系方式：1376678161@qq.com</li>
    </ul>
</footer>
</body>
</html>